.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.container {
  justify-content: center;
  align-items: center;
}
.invalid-input {
  border: 1px solid red;
}

.form-floating {
  min-height: 92px;
}
