<form class="row g-3 py-2">
  <div class="col-auto">
    <form [formGroup]="realUserList">
      <div class="row">
        <div class="col-12 mb-2">
          <select
            id="botUserDrropdown"
            formControlName="selectRealUser"
            class="dropdown-toggle form-control"
          >
            <option value="" disabled selected>Select User</option>
            <option *ngFor="let bot of users" [value]="bot?.name">
              {{ bot?.name }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div>
    <button
      class="btn btn-primary"
      type="button"
      data-coreui-toggle="modal"
      data-coreui-target="#exampleModalScrollable"
      (click)="searchByUserName()"
    >
      Search
    </button>
  </div>
</form>

<ng-container *ngIf="filterUserList?.length">
  <h4 class="mt-3">Posts of {{ selectedtitle }}</h4>
  <div class="user-box my-0 py-0">
    <div class="col-12">
      <div class="row">
        <div class="col-md-12">
          <table class="table text-dark" *ngIf="filterUserList?.length">
            <thead>
              <tr>
                <th class="border-0" scope="col">No</th>
                <th class="border-0" scope="col">Content</th>
                <th class="border-0" scope="col">Likes</th>
                <th class="border-0" scope="col">Comments</th>
                <th class="border-0" scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filterUserList; let i = index">
                <td scope="row">{{ i + 1 }}</td>
                <td scope="row">{{ item?.text }}</td>
                <td>{{ item.likeCount ? item.likeCount : 0 }}</td>
                <td>{{ item?.commentCount ? item.commentCount : 0 }}</td>
                <td>
                  <button
                    class="btn btn-primary"
                    data-target="#LikeModal"
                    data-toggle="modal"
                    (click)="handleLikeModal(item.id)"
                  >
                    Like
                  </button>
                  <button
                    class="btn btn-secondary"
                    data-toggle="modal"
                    (click)="handleCommentModal(item.id)"
                    data-target="#commentModel"
                  >
                    Comment
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Like Modal -->
<div
  class="modal fade"
  id="LikeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="LikeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LikeModalLabel">Add Like</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="form-control">
          <option>Select User</option>
          <option value="item.name" *ngFor="let item of botLists">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="submitLike()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Model section start :: Comment Modal -->
<div
  class="modal fade"
  id="commentModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add comment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="botUserInfoListForm">
          <div class="row">
            <div class="col-12 mb-2">
              <select
                id="botUserDrropdown"
                formControlName="selectBot"
                class="dropdown-toggle form-control"
              >
                <ng-container *ngFor="let bot of botLists">
                  <option [value]="bot?.id">{{ bot?.name }}</option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea
                formControlName="comment"
                id="botUserComment"
                class="form-control"
                rows="2"
                placeholder="Write comment"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="submitComment()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Model section end -->
