<form class="row g-3 py-2">
  <div class="col-auto">
    <form [formGroup]="realUserList">
      <div class="row">
        <div class="col-12">
          <ng-select [items]="users" class="form-control" bindLabel="user_name" bindValue="user_id" [editableSearchTerm]="true"
            placeholder="Select User" formControlName="selectRealUser">
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div>
    <button class="btn btn-primary" type="button" data-coreui-toggle="modal" id="btn"
      data-coreui-target="#exampleModalScrollable" (click)="getPostForUser()">
      Search
    </button>
  </div>
</form>

<ng-container *ngIf="postsList?.length && realUserList.value.selectRealUser">
  <h3 class="mt-3">Posts of {{ selectedtitle }}</h3>
  <div class="user-box my-0 py-0">
    <div class="col-12">
      <div class="row">
        <div class="col-md-12">
          <table class="table text-dark" *ngIf="postsList?.length">
            <thead>
              <tr>
                <th class="border-0" scope="col">No</th>
                <th class="border-0" scope="col">Content</th>
                <th class="border-0" scope="col">Likes</th>
                <th class="border-0" scope="col">Comments</th>
                <th class="border-0" scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of postsList; let i = index">
                <td scope="row">{{ i + 1 }}</td>
                <td scope="row">{{ item?.text }}</td>
                <td>{{ item.likeCount ? item.likeCount : 0 }}</td>
                <td>{{ item?.commentCount ? item.commentCount : 0 }}</td>
                <td>
                  <button class="btn btn-primary mr-2" data-target="#LikeModal" data-toggle="modal"
                    (click)="handleLikeModal(item)">
                    Like
                  </button>
                  <button class="btn btn-secondary" data-toggle="modal" (click)="handleCommentModal(item)"
                    data-target="#commentModel">
                    Comment
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="row" *ngIf="!postsList?.length && isUserPost && realUserList.value.selectRealUser">
  <div class="col-md-12 mt-3">
    <div class="card py-4 px-3">
      <h4>No user post found!!</h4>
    </div>
  </div>
</div>
<!-- Like Modal -->
<div class="modal fade" id="LikeModal" tabindex="-1" role="dialog" aria-labelledby="LikeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LikeModalLabel">Add Like</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeLikeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="botUserLikeForm">
          <select id="botUserDrropdown" formControlName="selectBot" class="dropdown-toggle form-control"
            (change)="selectBotUser($event)" *ngIf="buttonName ? buttonName : 'Like'">
            <option value="" disabled selected>Select Bot-User</option>
            <option [value]="item.user_id" *ngFor="let item of botLists">
              {{ item.user_name }}
            </option>
          </select>
          <div *ngIf="
                !botUserLikeForm.get('selectBot')?.valid &&
                botUserLikeForm.get('selectBot')?.touched
              ">
            <small class="text-danger">Please Select Bot-User</small>
          </div>
        </form>
        <div class="mt-2 text-danger" *ngIf="isAlreadyLiked">
          Already liked post by this bot user!
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="handleCancel()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="submitLikeUnlike()" data-backdrop="static"
          [disabled]="!botUserLikeForm.valid">
          {{ buttonName }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Model section start :: Comment Modal -->
<div
*ngIf="!this.disableComment && this.disableComment == undefined"
  class="modal fade"
  id="commentModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="commentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="botUserCommentForm">
          <div class="row">
            <div class="col-12 mb-2">
              <select
                id="botUserDrropdown"
                formControlName="selectBot"
                class="dropdown-toggle form-control"
                (change)="selectBotUser($event)"
              >
                <option value="" disabled selected>Select Bot User</option>
                <option [value]="item.user_id" *ngFor="let item of botLists">
                  {{ item.user_name }}
                </option>
              </select>
              <div *ngIf="
                  botUserCommentForm.get('selectBot')?.touched &&
                  botUserCommentForm.get('selectBot')?.invalid
                ">
                <small class="text-danger">Please Select User</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea formControlName="comment" id="botUserComment" class="form-control" rows="2"                                                               
                placeholder="Write comment" *ngIf="!blockUser"></textarea>
            </div>
            <div *ngIf="
                botUserCommentForm.get('comment')?.touched &&
                botUserCommentForm.get('comment')?.invalid
              ">
              <small class="text-danger">Please add comment</small>
            </div>
          </div>
        </form>
        <div class="mt-2 text-danger" *ngIf="blockUser">
          You are not able to comments this post
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="handleCancel()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submitComment()" 
         [disabled]="!botUserCommentForm.valid">
          Submit
        </button>

      </div>
    </div>
  </div>
</div>
<!-- Model section end -->