.user-box{
    background: #fff;
    margin: 0 15px 16px;
    border-radius: 5px;
    padding: 12px 0px 6px;  
    margin-top: 30px;
}

.label-text {
    margin: 0 15px 16px;
}

.add-btn{
    margin-top: 28px;
}
.user-box .table th, .table td{
    vertical-align: middle;
}
.user-box h4{
    text-transform: capitalize;
}

.fs-12{
    color: #f86c6b;
    height: 17px;
    width: 17px;
    margin-right: 7px;
}